# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Project Specific
pmsampsize_app/archive/
*.log
debug_*.py
